
main {
    display: grid;
}

.item1 {
    background:rgba(255,255,255, 1);
    grid-area: header;
    width: 100%;
    line-height: 100px;
    vertical-align: center;
    text-align: center;
    border: 1px solid black;
}

.item2 {
    background:rgba(255,255,255, 1);
    grid-area: menu;
    border: 1px solid black;
}

.item3 {
    background:rgba(255,255,255, 1);
    grid-area: image;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
}

.item4 {
    background:rgba(255,255,255, 1);
    grid-area: right;
    padding: 20px;
    width: 100%;
    border: 1px solid black;
}

#wrapper {
  display: grid;
  grid-template-areas:
    'image image header header header header header'
    'image image right right right right right'
    'menu menu right right right right right'
    'menu menu right right right right right';
  grid-gap: 10px;
  padding: 10px;
}

/*#recipy_img{*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    !*object-fit: contain;*!*/
/*}*/

#wrapper {

    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

#ingridients {
    border: 1px solid black;
    width : 300px;
    text-align: center;
}

@media only screen
and (max-width : 454px) {

    header{
        display: none;
    }

    #wrapper {
        width: 50%;
  display: grid;
  grid-template-areas:
    'image image'
    'header header'
    'menu menu'
    'right right';
  grid-gap: 10px;
  padding: 10px;
}

    #ingridients{
        width: 100%;
    }

    .item3{
        width: 97%;
        height: 100%;
        margin-bottom: 0%;
        display: none;
    }
    .item1{
        width: 100%;
    }
    .item4{
        width: 100%;
    }


}

@media only screen
and (max-width : 1223px)
and (min-width : 455px) {

    #wrapper {
        width: 50%;
  display: grid;
  grid-template-areas:
    'image image'
    'header header'
    'menu menu'
    'right right';
  grid-gap: 10px;
  padding: 10px;
}

    #ingridients{
        width: 100%;
    }

    .item3{
        width: 97%;
        height: 100%;
        margin-bottom: 0%;
    }
    .item1{
        width: 100%;
    }
    .item4{
        width: 100%;
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

   #wrapper {
  display: grid;
  grid-template-areas:
    'image image header header header header header'
    'image image right right right right right'
    'menu menu right right right right right'
    'menu menu right right right right right';
  grid-gap: 10px;
  padding: 10px;
}

}
