{% extends 'Fridge/base.html' %}

{% block title %} Home Page {% endblock title %}

{% block content %}

    <h1 class="mt-5">Main Page</h1>
    {% if products %}
        {% for product in products %}
            <p>{{ product.name }}</p><br>
        {% endfor %}
    {% endif %}

    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>
    <p>Content</p><br>

{% endblock content %}